:root {
    --logo-color: #000;
    --accent-color: #2196F3;
    --text-color: #212121;
    --aditional-text-color: #757575;
    --title-color: #FFF;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --footer-information: rgba(255, 255, 255, 0.60);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}

/*----------------------- body ----------------------*/

body {
    font-family: Roboto;
}

/*---------------------- header ----------------------*/

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-list2 {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.header-title1 {
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header-title2 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.header-buttons {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.28px;
}

.header-buttons:hover,
.header-buttons:focus {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

.header-social {
    color: var(--aditional-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 0.28px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header-icon {
    width: 16px;
    height: 12px;
    fill: var(--aditional-text-color);
}

.header-item2:nth-child(2) {
    .header-icon {
        width: 10px;
        height: 16px;
    }
}

.header-social:hover,
.header-social:focus {
    color: var(--accent-color);

    .header-icon {
        fill: var(--accent-color);
    }
}

/*--------------------- hero --------------------------*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-background);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/hero-people.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: var(--title-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-button {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:focus,
.hero-button:hover {
    background: #FFF;
    color: #188CE8;
}

/*------------------- benefit -----------------------*/

.benefit {
    padding-top: 94px;
    padding-bottom: 118px;
}

.benefit-list {
    display: flex;
    gap: 30px;
}

.benefit-item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    margin-bottom: 30px;
    background-image: url(../img/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
}

.benefit-item:nth-child(2)::before {
    background-image: url(../img/clock.png);
}

.benefit-item:nth-child(3)::before {
    background-image: url(../img/computer.png);
}

.benefit-item:nth-child(4)::before {
    background-image: url(../img/astronaut.png);
}

.benefit-facts {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefit-text {
    width: 270px;
    height: 72px;
    flex-shrink: 0;
    color: var(--aditional-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

/*-------------------- exemples --------------------*/

.exemples {
    padding-bottom: 94px;
}

.exemples-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.exemples-list {
    display: flex;
    gap: 30px;
}

.exemples-item {
    position: relative;
}

.exemples-text {
    color: var(--title-color);

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #2F303ACC;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*--------------------- team --------------------------*/

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-items {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-images {
    width: 270px;
    height: 260px;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    background: var(--title-color);
}

.team-names {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}

.team-ranks {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.team-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.team-link:hover,
.team-link:focus {
    background-color: var(--accent-color);

    .team-icon {
        fill: var(--title-color);
    }
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

/*-------------------- clients -----------------------*/

.clients {
    padding: 94px 0px;
}

.clients-header {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    outline: 1px solid #AFB1B8;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-link:hover,
.clients-link:focus {
    outline: 1px solid var(--accent-color);

    .clients-img {
        fill: #2196F3;
    }
}

.clients-img {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

/*-------------------- footer ------------------------*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-title1 {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-title2 {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
    display: inline-block;
}

.footer-location {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    display: inline-block;
    margin-bottom: 9px;
}

.footer-item:first-child {
    margin-bottom: 9px;
}

.footer-social1 {
    font-style: normal;
    width: 136px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-social2 {
    font-style: normal;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-title {
    color: var(--title-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-social {
    margin-left: 70px;
}

.footer-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--accent-color);
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: var(--title-color);
}

.footer-signup {
    margin-left: 70px;
}

.signup-title {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.signup-input {
    width: 358px;
    height: 50px;
    border: none;
    border-radius: 4px;
    outline: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.signup-form {
    display: flex;
    justify-content: center;
}

.signup-button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.signup-button:hover,
.signup-button:focus {
    background: #FFF;
    color: #188CE8;
    .signup-icon {
        fill: #188CE8;
    }
}

.signup-icon {
    width: 24px;
    height: 24px;
    fill: #FFF;
    margin-left: 10px;
}



/*------------------ PORTOFOLIO ------------------*/


/*--------------------- catag -----------------------*/

.port-catag {
    padding-top: 94px;
    padding-bottom: 94px;
    border-top: 1px solid #ececec;
}

.port-catag-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.port-catag-item {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
}

.port-catag-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    background: var(--team-background);
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.48px;
}

.port-catag-button:hover,
.port-catag-button:focus {
    background-color: var(--accent-color);
    color: var(--title-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.port-catag-list2 {
    flex-basis: calc((100% - 60px) / 3);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.port-catag-item2 {
    outline: 1px solid #EEE;
}

.port-catag-item2:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.port-catag-img {
    width: 100%;
}

.port-box {
    padding: 20px 24px;
}

.port-catag-title {
    width: 322px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.port-catag-text {
    width: 322px;
    color: var(--aditional-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

/******************** Model Window *********************/

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.model {
    width: 528px;
    height: 581px;
    background-color: #FFF;
    position: relative;
    padding: 40px;
}

.button-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.10);

    position: absolute;
    top: 7px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.button-close:hover,
.button-close:focus {
    .model-x {
        fill: #2196F3;
    }
}

.model-x {
    width: 18px;
    height: 18px;
}

.model-title {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 0.86;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.model-label {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 0.85;
    letter-spacing: 0.12px;
    position: relative;
}

.model-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    display: block;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    margin-bottom: 10px;
}

.model-input:hover,
.model-input:focus {
    outline: 1px solid #2196F3;
}

.model-input:hover+.model-icon,
.model-input:focus+.model-icon {
    fill: #2196F3;
}

.model-icon {
    position: absolute;
    top: 26px;
    left: 12px;
    width: 18px;
    height: 18px;
}

.model-textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    margin-top: 4px;
}

.model-checkbox-group {
    display: flex;
    justify-content: center;
}

.model-checkbox {
    padding-top: 20px;
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.model-button-group {
    display: flex;
    justify-content: center;
}

.model-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
    margin-top: 30px;
}

.model-button:hover {
    width: 203px;
    height: 53px;

    color: #188CE8;
    background: #FFF;
}