.clients {
    padding: 94px 0px;

    &__header {
        color: $text-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    &__link {
        width: 170px;
        height: 92px;
        border-radius: 4px;
        outline: 1px solid $border-item;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms all ease-in;

        &:hover,
        &:focus {
            outline: 1px solid $accent-color;

            .clients__img {
                fill: $accent-color;
            }
        }
    }


    &__img {
        fill: $border-item;
        width: 106px;
        height: 60px;
        transition: 200ms all ease-in;
    }
}