.clients {
    padding: 94px 0px;
}

.clients-header {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    outline: 1px solid $border-item;

    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-link:hover,
.clients-link:focus {
    outline: 1px solid $accent-color;

    .clients-img {
        fill: $accent-color;
    }
}

.clients-img {
    fill: $border-item;
    width: 106px;
    height: 60px;
}