.header {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__title1 {
        color: $logo-color;
    }

    &__title2 {
        color: $accent-color;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.72px;
        margin-right: auto;

        @media screen and (min-width: 768px) {
            margin-right: 88px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
            font-size: 26px;
            letter-spacing: 0.78px;
        }
    }

    &__button {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__burger {
        width: 40px;
        height: 40px;
    }

    &__menu {
        z-index: 1;
        opacity: 1;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: $title-color;

        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &__close {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    &__link {
        color: #212121;
        font-family: Roboto;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.8px;
    }

    &__group2 {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 200px;
        margin-bottom: 64px;
    }

    &__elem2:nth-child(1) {
        .header__link2 {
            width: 100%;
            word-break: keep-all;
            color: $accent-color;
            font-size: 34px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.68px;
        }
    }

    &__elem2:nth-child(2) {
        .header__link2 {
            color: $aditional-text-color;
            font-size: 24px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;
        }
    }

    &__group3 {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__link3 {
        color: #2196F3;

        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.36px;
        display: flex;
        align-items: center;
    }

    &__elem3:not(:last-child) {
        .header__link3::after {
            content: "";
            background-color: $model-input;
            width: 1px;
            height: 22px;
            display: block;
            margin-left: 10px;
        }
    }

    &__lister {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
        position: relative;
    }

    &__buttons {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: 0.28px;
        transition: 250ms all ease-out;
    }

    &__buttons::after {
        position: absolute;
        bottom: -32px;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: $accent-color;
        opacity: 0;
        transition: 250ms all ease-out;
    }

    &__buttons:hover,
    &__buttons:focus {
        color: $accent-color;
    }

    &__buttons:hover::after {
        opacity: 1;
    }

    &__list2 {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            gap: 10px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }

    &__social {
        color: $aditional-text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: 0.28px;

        display: flex;
        align-items: center;
        gap: 10px;
        transition: 250ms all ease-in;
    }

    &__social:hover,
    &__social:focus {
        color: $accent-color;

        .header__icon {
            fill: $accent-color;
        }
    }

    &__icon {
        width: 16px;
        height: 12px;
        fill: $aditional-text-color;
    }

    &__item2:nth-child(2) {
        .header__icon {
            width: 10px;
            height: 16px;
        }
    }
}

.active {
    color: $accent-color;
}

.is__hidden {
    pointer-events: none;
    opacity: 0;
}