.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-background);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/hero-people.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    color: var(--title-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-button {
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:focus,
.hero-button:hover {
    background: #FFF;
    color: #188CE8;
}