.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.model {
    width: 528px;
    height: 581px;
    background-color: #FFF;
    position: relative;
    padding: 40px;
}

.button-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.10);

    position: absolute;
    top: 7px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.button-close:hover,
.button-close:focus {
    .model-x {
        fill: #2196F3;
    }
}

.model-x {
    width: 18px;
    height: 18px;
}

.model-title {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 0.86;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.model-label {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 0.85;
    letter-spacing: 0.12px;
    position: relative;
}

.model-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    display: block;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    margin-bottom: 10px;
}

.model-input:hover,
.model-input:focus {
    outline: 1px solid #2196F3;
}

.model-input:hover+.model-icon,
.model-input:focus+.model-icon {
    fill: #2196F3;
}

.model-icon {
    position: absolute;
    top: 26px;
    left: 12px;
    width: 18px;
    height: 18px;
}

.model-textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    margin-top: 4px;
}

.model-checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.model-checkbox {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
    margin-left: 9px;
    margin-right: 4px;
}

.model-link {

    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

}

.model-check {

    width: 16px;
    height: 15px;
    fill: #212121;

}

.model-button-group {
    display: flex;
    justify-content: center;
}

.model-button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
    margin-top: 30px;
}

.model-button:hover {
    width: 203px;
    height: 53px;

    color: #188CE8;
    background: #FFF;
}