.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $team-background;

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__items {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        border-radius: 0px 0px 4px 4px;
    }

    &__title {
        color: $text-color;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: .84px;
        margin-bottom: 50px;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            letter-spacing: 1.08px;
        }
    }

    &__images {
        width: 450px;

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__box {
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0px 0px 4px 4px;
        background: $title-color;
    }

    &__names {
        color: $text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
    }

    &__ranks {
        color: $aditional-text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;
    }

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 250ms all ease-in;

        &:hover,
        &:focus {
            background-color: $accent-color;

            .team-icon {
                fill: $title-color;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $border-item;
    }
}